.subscribeButton {
  background: var(--yellow-500);
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--grey-900);

  height: 4rem;
  border-radius: 4rem;
  padding: 0 4rem;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
